@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlaygroundPage>
@using McCode.Web.Models.ComponentModels

@{
    Html.RequiresJs("~/scripts/app/components/navbar-preview.js", 1, 3, new { @defer = "" });
}

<div class="navbar-preview" role="navigation">
    <ul class="navbar-preview__breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="navbar-preview__dropdown">
            <div class="navbar-preview__expander">
                Current Page <span class="arrow-down"></span>
                <ul class="dropdown__content">
                    <li>
                        <a href="#">Page</a>
                        <div class="navbar-preview__preview">
                            <div class="navbar-preview__image">
                                <img class="img-responsive" src="~/Content/images/Fentezi_25_119.jpg" alt="" />
                            </div>
                            <div class="navbar-preview__content">
                                <div class="navbar-preview__heading">Subsite Page</div>
                                <div class="navbar-preview__lead">Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">That Page</a>
                        <div class="navbar-preview__preview">
                            <div class="navbar-preview__image">
                                <img class="img-responsive" src="~/Content/images/esper.jpg" alt="" />
                            </div>
                            <div class="navbar-preview__content">
                                <div class="navbar-preview__heading">Subsite Page</div>
                                <div class="navbar-preview__lead">Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Another Page</a>
                        <div class="navbar-preview__preview">
                            <div class="navbar-preview__image">
                                <img class="img-responsive" src="~/Content/images/evil2_1600x1200.jpg" alt="" />
                            </div>
                            <div class="navbar-preview__content">
                                <div class="navbar-preview__heading">Subsite Page</div>
                                <div class="navbar-preview__lead">Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="navbar-preview__menu">
        <li>
            <a href="">Om mig</a>
        </li>
        <li>
            <a href="#">Kontakt</a>
        </li>
    </ul>
</div>

