@inherits UmbracoViewPage<CarouselViewModel>

@{
    Html.RequiresCss("~/Content/components/owl-carousel2/dist/assets/owl.carousel.css")
            .RequiresCss("~/Content/components/animate-css/animate.css")
            .RequiresJs("~/Content/components/owl-carousel2/dist/owl.carousel.js", 1, 2, new { @defer = string.Empty })
            .RequiresJs("~/scripts/app/carousel.jquery.js", 1, 2, new { @defer = string.Empty });

    var carousel = Model.Carousel;
}
@if (carousel.Any())
{

    <div class="owl-carousel"
         data-options='{
        "items": 1,
         "nav": true,
         "navText": ["", ""],
         "autoplay": false,
         "autoplayHoverPause": true,
         "animateOut": "fadeOut",
         "autoHeight": true }'>
        @foreach (var slide in carousel)
        {
            @renderSlide(slide)
        }
    </div>
}
@helper renderSlide(IPublishedContent slide)
{
    var image = slide.GetPropertyValue<IPublishedContent>("image");

    if (image != null)
    {
            <div class="owl-carousel__item">
                @Html.Partial(
               "Components/_Media",
               new MediaViewModel
               {
                   Image = image,
                   GridSettings = Model.GridSettings,
                   MediaHeights = Model.MediaHeights,

               })
                @if (slide.HasValue("text"))
                {
                    <div class="owl-carousel__caption">
                        @(slide.GetPropertyValue<string>("text"))
                    </div>
                }
                <div class="owl-carousel__spacer"></div>
            </div>
    }
}
