@inherits UmbracoViewPage<dynamic>
@{
    if (Model.value != null)
    {
        string text = Convert.ToString(Model.value.text);
        string byline = Convert.ToString(Model.value.byline);

        <blockquote class="blockquote theme-border-color">
            <p>@Umbraco.StripHtml(text)</p>
            <footer>
                @byline
            </footer>
        </blockquote>
    }
}