@inherits UmbracoViewPage<ListViewModel>
@using McCode.Web.Models.PartialViewModels
@using McCode.Web.Models
@using Newtonsoft.Json

@{
    Html.RequiresJs("~/content/components/angularjs/angular.js", new { @defer = string.Empty })
        .RequiresJs("~/scripts/app/angular/app.js", new { @defer = string.Empty })
        .RequiresJs("~/scripts/app/angular/infinity-list.ctrl.js", new { @defer = string.Empty });


    string[] list = Model.List.Select(x => x.Id.ToString()).ToArray();
}

<div ng-controller="infiniteListCtrl" 
     ng-init="data = @JsonConvert.SerializeObject(list);"
     class="infinite-list"
     data-page="{{page}}">
    @if (Model.List.Any())
    {
        foreach (var i in Model.List)
        {
            @RenderList(i)
        }
    }
    <pre>{{result}}</pre>
    <div class="item" ng-repeat="item in result">
        <a href="{{item.url}}">
            <h4>{{item.name}}</h4>
            <p>{{item.lead}}</p>
        </a>
    </div>
    <a href="#"
       class="btn btn-primary"
       ng-click="getList()">Hent flere</a>
</div>

@helper RenderList(IPublishedContent node)
{
    <div class="item">
        <a href="@node.Url">
            <h4>@(node.GetPropertyValue<string>("headline", node.Name))</h4>
            <p>
                Laoreet ac, aliquam sit amet justo nunc tempor,
                metus vel placerat suscipit, orci nisl iaculis eros,
                a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut
                vitae feugiat augue cras ut metus a risus iaculis scelerisque eu
                ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </p>
        </a>
    </div>
}
