@inherits UmbracoViewPage<ListViewModel>
@using McCode.Web.Models.PartialViewModels
@using McCode.Web.Models
@using Newtonsoft.Json

@{
    Html.RequiresJs("~/content/components/angularjs/angular.js", new { @defer = string.Empty })
        .RequiresJs("~/scripts/app/angular/app.js", new { @defer = string.Empty })
        .RequiresJs("~/scripts/app/angular/infinity-list.ctrl.js", new { @defer = string.Empty });


    var listOfIds = Model.List != null ? Model.List.Select(x => x.Id.ToString()).ToArray(): new string[] { };
    var tags = Model.Tags != null ? Model.Tags.Select(x => x.Name).ToArray() : new string[] { };

}

<div ng-controller="infiniteListCtrl"
     ng-init="data = @JsonConvert.SerializeObject(listOfIds); 
        tags =  @JsonConvert.SerializeObject(tags);
        getList()"
     class="list"
     data-page="{{page}}">
    <div class="list__filters">
        <div class="list__tags">
            <label ng-repeat="tag in tags">
                <input type="checkbox" ng-model="search.tag" ng-checked="" />
                {{tag}}
            </label>
        </div>
        <label>Søg: <input ng-model="search.tags" /></label>
    </div>
    <pre>{{search}}</pre>
    <div class="list__items">
        <div class="list__item" ng-repeat="item in result | filter:search">
            <a href="{{item.url}}">
                <h4>{{item.name}}</h4>
                <p>{{item.lead}}</p>
                <small ng-repeat="tag in item.tags">{{tag}}</small>
            </a>
        </div>
    </div>
    <a href="#"
       class="btn--primary"
       ng-click="getList()">Hent flere</a>
</div>
