@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using Umbraco.Web.PropertyValueConverters.Leaflet

@foreach (var item in Model.Items)
{
    @renderContent(item)
}

@helper renderContent(LeBlenderValue content)
{
    var factboxPosition = content.GetValue("factboxPosition");
    var heading = content.GetValue("heading");
    var position = !string.IsNullOrEmpty(factboxPosition) ? factboxPosition : "69";
    var map = content.GetValue<LeafletMapModel>("mapLocation");

     <div class="factbox factbox--position-@(position)">
         @if (map != null)
         {
             <div class="factbox__map">
                @{ Html.RenderPartial(
                    "Components/_Map", 
                    new MapViewModel
                    {
                        Map = map,
                        CanvasHeight = 165

                    }); }
             </div>
         }
        @if(!string.IsNullOrEmpty(heading))
        {
            <h5 class="factbox__heading">@Html.Raw(heading)</h5>
        }
        @if(content.HasProperty("rte"))
        {
            @Html.Raw(content.GetValue<string>("rte"))
        }
        <div class="factbox__spacer"></div>
     </div>
}